@(message:String)

    <a href="/register">Register</a>
    @helper.form(action = routes.WebPage.login()) {
        <table>
            <tr>
                <td>User Name</td>
                <td><input name="username" type="text" />
                    <span style="color:red;">@message</span>
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input name="password" type="password" /></td>
            </tr>
        </table>
        <input type="submit" value="Login"/>

    }

