@(userForm : Form[User])
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src='@routes.Assets.versioned("scripts/Register.js")'></script>
@helper.form(action = routes.WebPage.register(), 'id -> "registerForm") {
    <table>
        <tr>
            <td>User Name</td>
            <td><input id="username" name="username" type="text"  value="123123"/>
                <span id="usernameError" style="color:red"></span>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input id="password" name="password" type="password" value="3234234"/>
                <span id="passwordError" style="color:red"></span>
            </td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td><input id="confirmPassword" name="confirmPassword" type="password"  value="3234234"/>
                <span id="confirmPasswordError" style="color:red"></span>
            </td>
        </tr>
    </table>
    <hidden name="uid" />
    <input type="button" value="Create User" onclick="validateform()"/>
}