@(tasks: Seq[Task])(implicit session: play.api.mvc.Session)

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src='@routes.Assets.versioned("scripts/Task.js")'></script>

<h1>Here are your tasks</h1>

@helper.form(action = routes.WebPage.deleteTask()) {
<table id="list" style="border:solid 1px grey; text-align:left">
    <tr>
        <th>User</th>
        <th>Task Description</th>
    </tr>
    @tasks.map {item =>
        <tr>
            <td>@item.user.userName</td>
            <td>@item.description</td>
            <td><input id="@item.id" type="button" value="delete" onclick="deleteTaskById(this.id)"/></td>
        </tr>
    }
</table>
}


@helper.form(action = routes.WebPage.addTask()) {
<input id="taskText" type="text" length="30"/>
<input type="button" value="Add" onclick="addTask('@session.get("user")', $('#taskText').val())"/>
}

